<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>{{ title }}</title>


    <meta name="author" content="" />
    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="./css/screen.css" rel="stylesheet" media="screen" />

</head>

<body>

    <a class="static__back" href="../index.html">Back to Index</a>
    <h1 class="static__heading text--xlarge">{{ title }}</h1>

    {{> body }}

</body>

</html>
