
html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	position: relative;
}

body {
	background-color: $white;
}

.page-wrapper {
	position: relative;
	overflow: hidden;
}

.page-wrapper-content {
	position: relative;
}

a, img {
	border: none;
	outline: none;
}

.overflow-hidden {
	overflow: hidden;
}

.position-relative {
	position: relative;
}
